# Encode Categorical Features

#### import the required libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import make_column_transformer

C:\INSTALLED_SOFTWARES\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

#### Data

In [2]:
features = pd.DataFrame({'Shape':['square','square','oval','circle'],
                         'Class':['third','first','second','third'],
                         'Size':['S','S','L','XL'],
                         'Weight': [15,15,10,12]})

In [3]:
features

    Shape   Class Size  Weight
0  square   third    S      15
1  square   first    S      15
2    oval  second    L      10
3  circle   third   XL      12

#### Initialize transformers

In [4]:
ohe = OneHotEncoder(sparse=False)
oe = OrdinalEncoder(categories=[['third','first','second','third'],['S','S','L','XL']])

#### Create Column Transformer

In [5]:
ct = make_column_transformer(
(ohe,['Shape']),
(oe,['Class','Size']),
remainder='passthrough'
)

In [6]:
transformed_col = ct.fit_transform(features)

C:\INSTALLED_SOFTWARES\Anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
transformed_col

array([[ 0.,  0.,  1.,  3.,  1., 15.],
       [ 0.,  0.,  1.,  1.,  1., 15.],
       [ 0.,  1.,  0.,  2.,  2., 10.],
       [ 1.,  0.,  0.,  3.,  3., 12.]])

In [8]:
ohe_col_category = ct.named_transformers_['onehotencoder'].categories_
ohe_feature_names = list(ohe_col_category[0])

In [9]:
ohe_feature_names

['circle', 'oval', 'square']

In [10]:
columns = ohe_feature_names + ['Class','Size','Weight']

In [11]:
columns

['circle', 'oval', 'square', 'Class', 'Size', 'Weight']

In [12]:
transformed_data = pd.DataFrame(transformed_col, columns = columns)

In [13]:
transformed_data[['circle', 'oval', 'square', 'Class', 'Size', 'Weight']] = transformed_data[['circle', 'oval', 'square', 'Class', 'Size', 'Weight']].astype(int)

In [14]:
transformed_data

   circle  oval  square  Class  Size  Weight
0       0     0       1      3     1      15
1       0     0       1      1     1      15
2       0     1       0      2     2      10
3       1     0       0      3     3      12

### We have converted categorical Data into numeric values